img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.btn-space {
    margin-right: 5px;
}

.nv-file-over {
    border: dotted 3px red !important;
}

input[type=file] {
    color: transparent;
}

.uploadPhoto {
    margin-top: 30px;
}